<%= form_for @user do |form| %>
  <div class="form-group">
    <p>
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </p>
    <p>
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </p>

    <p>
      <%= form.label :password %>
      <%= form.text_field :password, class: "form-control" %>
    </p>

  </div>
  
  <p><%= form.button 'Create Doctor', class: "btn btn-success" %></p>
<% end %>

