<%= form_for @message do |form| %>
  <div class="form-group">
    <p>
      <%= form.label :body, "Message" %>
      <%= form.text_area :body, class: "form-control" %>
    </p>

<p><%= form.button 'Submit Message', class: "btn btn-success" %></p>
<% end %>
  
<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <h3>Current Messages</h3>
    <% @messages.each do |message| %>
    	<% if message.doctor_id == @doctor.id %>
    	<p><%= message.body %></p>
    <% end %>
    <% end %>
      <h4>
         
     
       
    